<!DOCTYPE html>

<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="If your movie doesn't pass the Bechdel test, find a better one">

    <meta property="og:title" content="Browse by Titles, A-Z">
    <meta property="og:site_name" content="Watch This Instead">
    <meta property="og:url" content="http://shannonvturner.com/bechdel/movie">
    <meta property="og:description" content="If your movie doesn't pass the Bechdel test, find a better one">
    <meta property="og:image" content="http://shannonvturner.com/images/watch_this_instead.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@svt827">
    <meta name="twitter:creator" content="@svt827">
    <meta name="twitter:description" content="If your movie doesn't pass the Bechdel test, find a better one">
    <meta name="twitter:image:src" content="http://shannonvturner.com/images/watch_this_instead.png">
    <meta name="twitter:title" content="Browse by Titles, A-Z - Watch This Instead">

    <!-- Bootstrap -->
    <link href="http://shannonvturner.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Watch This Instead</title>

    <link rel="icon" href="http://shannonvturner.com/images/watchthisinstead.ico">

    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://shannonvturner.com/css/bechdel.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49936574-1', 'shannonvturner.com');
      ga('send', 'pageview');

    </script>

  </head>

<body>

<a name="top"> </a>

<div id="main_ribbon" style="overflow: hidden; height: 1%;">

    <h1> Watch This Instead </h1> 
    
    <!-- Messages go here -->

    {% if messages %}
      {% for message in messages %}
            <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
            {{ message }}
            </div>
      {% endfor %}
    {% endif %}

    <!-- Movie selection goes here -->

    <div class="container">
      <h3>
        {% for category in categories %}
          <a href="/bechdel/movie?l={{category}}" style='color: #fff;'>{{ category }}</a> 
          {% cycle ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' '<br> <br>' %}
        {% endfor %}
        <a href="/bechdel/movie?l=0" style='color: #fff;'>0-9</a>
      </h3>
    </div>

        {% if letter_picked %}

        <div class="container"> 
            <h2 style="margin-top: 0;">{{ letter_picked.name }}</h2>
            <div class="row">
            {% for movie in all_movies %}
                  <div class="col-lg-4" style="background-color: #5b8ee8">
                    <a href="/bechdel/movie/{{ movie.id }}" style="color: #fff;">{{ movie.title }} ({{ movie.year }})</a>
                  </div>
            {% endfor %}
            </div>
        </div>

        {% else %}

        <h3> Choose a title letter from the choices above. </h3>

        {% endif %}

    <form id="search" method="POST" action="/bechdel/search">

        {% csrf_token %}

        <input type="text" placeholder="Search movie by title or imdb ID" name="q" id="movie_search{% if messages %}_msg{% endif %}" required>
        <label for="movie_search" class="sr-only">Search movie by title or imdb ID</label>
        {% if letter_picked %}
          <button class="lg-btn btn-info" id="search_button" style="width: initial; margin-top: 0px;">Search again</button>
        {% else %}
          <button class="lg-btn btn-info" id="search_button" style="width: initial;">Search again</button>
        {% endif %}

    </form>

</div>

    <div id="nav_ribbon">
        {% include "nav.html" %}
    </div>

    <div id="misc_ribbon">
        {% include "footer.html" %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://shannonvturner.com/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>