<h4> Watch This Instead has rating info for {{ total_movies }} movies. </h4>
<h4> All data provided by the <a href="http://bechdeltest.com/api/" target="_blank">Bechdel Test API</a> and the <a href="http://omdbapi.com/" target="_blank">Open Movie Database API</a> (which includes data from <a href="http://www.rottentomatoes.com/" target="_blank" style="padding-right: 4px; padding-left: 2px;">Rotten Tomatoes</a>) </h4>

<h4>This website is open-source. The code lives here: <a href="https://github.com/shannonturner/bechdel" target="_blank">https://github.com/shannonturner/bechdel</a> </h4>
<h4>Many thanks to <a href="https://github.com/AngieBrilliance" target="_blank">Angie Brilliance</a> for helping with the redesign</h4>