<!-- Don't add the btn class to these or it will incorrectly wrap the text -->

<a href="#"><button class="navbar_image btn-primary">Imdb Top 250</button></a>
<a href="#"><button class="navbar_image btn-primary">All films A-Z</button></a>
<a href="#"><button class="navbar_image btn-primary">Browse by Genres</button></a>
<a href="#"><button class="navbar_image btn-primary">by Parental Rating</button></a>
<a href="#"><button class="navbar_image btn-primary">by Years</button></a>
<a href="#"><button class="navbar_image btn-primary">Award-winning failures</button></a>