<a href="#" style="content: 'imdb Top 250';">
    <img class="navbar_image img-circle" src="http://shannonvturner.com/images/white2x2.png">
</a>

<a href="#" class="navbar_image img-circle">All films A-Z</a>
<a href="#" class="navbar_image img-circle">Browse by Genres</a>
<a href="#" class="navbar_image img-circle">by Parental Rating</a>
<a href="#" class="navbar_image img-circle">Browse by Years</a>
<!-- <a href="#" class="navbar_image img-circle">Award-winning <br>Bechdel test<br> failures</a> -->